*{
    background-color: rgba(32,33,36,1);
    padding: 0px;
    margin: 0px;
    color: #bdc1c6;
    font-family: arial,sans-serif;
}


#TopBar{
    display: flex;
    height: 48px;
    padding: 6px;
    justify-content: flex-end;
    align-items: center;
}

a{
    margin: 12px;
    text-decoration: none;
    color: white;
    font-family: arial,sans-serif;
    font-size: 13px;
    min-width: fit-content;
}
a:hover{
    text-decoration: underline;
    color: rgb(122, 122, 255);
}

form {
    color: #bdc1c6;
    display: flex;
    margin: 32px 16px 16px 16px;
    justify-content: center;
}
#FormContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 548px;
    margin: 0px 15px;
}
#advance-form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
input[type="text"]
{
    display: flex;
    height: 44px;
    width: 100%;
    border-radius: 44px;
    border-style: solid;
    border-width: 1px;
    padding-left: 22px;
    margin-bottom: 24px;
}
input[type="submit"]{
    /* Remove First */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    margin: 0px 6px 0px 6px;
    border-radius: 5px;
    height: 44px;
    text-align: center;
    width: 128px;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(32,33,36,1);
}

input[type="submit"]:hover{
   background-color: #303234;
}

h1{
    display: block;
    text-align: center;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 32px;
}
h6{

    text-align: right;
}
.center-container{
    display: flex;
    justify-content: center;
}
.small{
font-size: 12px;
}

span{
    display: inline;
    color: rgb(118, 118, 255);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.hbox{
    display: flex;
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.center-items{
    justify-content: center;
}

.expand{
    width: 100%;
}

.seperator{
    height: 1px;
    width: 100%;
    background-color: rgb(47, 49, 53);
}
.top-bar-header{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    min-width: fit-content;
    margin: 12px;
}
